#header
    {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: rgb(0, 0, 0);
        width: 100%;
        height: 100px;
        background-color: rgb(186, 186, 186);
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 70px;
        padding: 20px 0px;
    }
.nav-item
    {
        text-decoration: none;
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
 
    }
    #footer
    {
        
        clear:both;
        width: 100%;
        height: 400px;
        background-color:  #6c757d;
       padding: 20px 0px;

    }
.footer-main
{
    width: 100%;

    height:90%;
    padding: 10px 0px;
    display: flex;
        justify-content: center;
        align-items: center;
        color: white;
}
.div-footer
{
    width: calc(33.33% - 40px); 
    margin: 10px;
    float: left;
  
    overflow: hidden;
    margin-right: 20px;
    height: 100%;
    padding-left: 30px;
    
}
.w{
    width: 50%;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    color: white;
}
  .input-with-button {
    display: flex;
    align-items: center;
  }
  
  .input-with-button input[type="email"] {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-with-button button {
    padding: 10px 15px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-with-button button:hover {
    background-color: #2980b9;
  }
  form {
    max-width: 300px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  .footer-text{
    padding-top: 20px;
}
.body-about{
    width: 100%;
    height: 400px;
    background-color: aqua;
}